*{
    margin: 0;
    padding: 0;

}

.seg1{
    height: 120px;
    background-color:white;
    display: flex;
    justify-content: flex-end;


}

.seg1 img{
    position: absolute;
    left: 20px;
    width: 10%;
    height: 50%;
    margin-top: 20px;
    align-self: flex-start;
    background-color: transparent;
}

.seg1 ul a{
    text-decoration: none;
}


.seg1_2 ul a{
    text-decoration: none;
}

.seg1 ul a li{
    float: left;
    margin-left: 80px;
    font-family: "Poppins";
    margin-top: 50px;
    list-style-type: none;
    color: #0E6655;
}




.seg1_2{
    height: 120px;
    background-color:white ;
    display: flex;
    justify-content: flex-end;
}

.seg1_2 p a{
    text-decoration: none;
    color: #0E6655;

}

.seg1_2 p{
    font-family: "Poppins";
    font-weight: bold;
    margin-top: 43px;
    padding-right: 30px;
    font-size: 22px;
    text-decoration: none;
    
}

#hamburger{
    display: none;
}

.seg1_2 button{
    width: 160px;
    height: 48px;
    border: solid 2px #0E6655;
    border-radius: 38px;
    background-color: white;
    font-family: "Poppins";
    margin-top: 36px;
    color: #0E6655;
    transition: all 0.5s ease;
    
}
.seg1_2 button:hover{
    background-color: #0E6655;
    color: white;
    transition: all 0.5s ease;
    box-shadow: 0px 3px 30px #0E6655;
}


.seg2{                      /*seg2*/

    height: 580px;
    background-color: white;
    background-image: url("graphic1.svg");
    display: flex;

}
.seg2 p{
    font-family: "League Spartan";
    font-size: 65px;
    font-weight: bold;
    display: inline-flex;
    padding: 0px;
    color: #0E6655;         /*#78b80*/

}

.seg2_2{
    justify-content: center;
    height: 580px;
    background:linear-gradient(90deg, white, whitesmoke);

}

.seg2_2 p{                              /*FOR seg2_2 all <p>*/
    text-align: center;
    font-family: Poppins;
    color: #0E6655;
    
}
#upcoming_p{                    /*seg2 event text */
    font-size: 30px;
    margin-top: 50px;
    font-weight: bold;
    
}
#upcoming_p i{
    padding-right: 10px;
    font-size: 37px;
    color: linear-gradient(90deg, #0E6655, lime);
}

.seg2_2 div{
    height: 260px;
    background-color:whitesmoke;
    float: right;
    margin-left: 25px;
    margin-top: 50px;
    border-radius: 5px;
    border:solid 3px rgb(169, 170, 169);
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    box-shadow: 0 0 5px gray;
    
    justify-content: center;
    
}

.seg2_2 div p{
    
    width: 100%;
    height: flex;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 1px 2px 5px gray;
    background: linear-gradient(90deg,rgb(56, 156, 115), #0E6655);
}

.seg2_2 div a{
    text-align: center;
}

.seg2_2 div a button{
    width: 120px;
    height: 40px;
    justify-content: center;
    margin-top: 160px;
    margin-left: 19%;
    border: solid 2px #0E6655;
    position:absolute;
    top: 50px;
    z-index: 10;
    border-radius: 5px;
    color: #0E6655;
    font-family: "Poppins";
    background-size: 250px;
    
    
}
.seg2_2 div a button:hover{
    background: linear-gradient(90deg,#0E6655, rgb(93, 204, 93) );
    color: white;
    transition: all 0.6s ease;
    background-size: 250px;
    border: solid 0px transparent;

}


.seg3{                          /*seg3*/

    height: 560px;
    background-color: azure;
    padding: 0px;
    margin: 0px;
}

#seg3_text{
    font-size: 55px;
    font-family: "Poppins";
    font-weight: bold;
}

.seg3_board{
    height: 180px;
    background-color: white;
    margin-top: 0px;
    border: solid thin gainsboro;
    border-radius: 8px;
    box-shadow: 0px 10px 50px gainsboro;
    display: flex;
    justify-content: flex-start;
    
}
.seg3_board img{
    width: 140px;
    height: 140px;
    background:#0E6655;
    border: solid thin transparent;
   
    margin-top: 20px;
}


.seg3_board p{
    font-family: "Raleway";
    font-size: 25px;
    padding-left: 20px;
    padding-top: 20px;
   
    
}
.seg3_board p strong{
    color: rgb(233, 24, 24);
}


.seg4{
    height: 600px;
    background: linear-gradient(125deg, gainsboro, rgb(231, 231, 231));
}

#seg4_text{
    font-family: "optien";
    font-size: 78px;
    font-weight: bold;
    color: gray;
    opacity: 0.3;
    
}

.seg4 div{
    height: 220px;
    background: gainsboro;
    border: solid 2px gray;
    border-radius: 4px;
    float: left;
    margin-left: 75px;
    margin-top: 30px;
    box-shadow: 0px 2px 20px gray;
}

.seg4 div:nth-child(1){
    border-color: #0E6655;
    background-color: whitesmoke;
    box-shadow: 0px 2px 30px #0E6655;
    
}

.seg4 div img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-top: 15px;
}
.seg4 div p{
    float: right;
    
}

#statement{
    font-size: 18px;
    font-family: "Poppins";
}

.name{
    width: 200px;
    background: transparent;
    font-weight: bold;
    margin-top: 15px;
    top: 3px;
    left: 90px;
    margin-right: 160px;

    font-size: 18px;
    position: absolute;
    
}

#location{
    margin-top: -30px;
    margin-right: 160px;
    color: gray;

}

.seg4 section{
    width: 270px;
    height: 100px;
    background: transparent;
    display: flex;
    float: right;
    padding-top: 30px;
    padding-left: 0px;
    margin-top: 50px;
}

.seg4 section button{
    width: 65px;
    height: 65px;
    border: solid 2px #0E6655;
    border-radius: 50%;
    margin-left: 20px;
    outline: none;
    color: #0E6655;
    transition: all 0.6s ease;
}

.seg4 section button:hover{
    background-color: #0E6655;
    color: white;
    box-shadow: 0px 2px 30px #0E6655;
    transition: all 0.5s ease;
}



.seg5{
    height: 550px;
    background: linear-gradient(120deg, #0E6655, rgb(37, 128, 82));
}

.seg5 div{
    float: left;
    margin-left: 50px;
    display: flex;
    justify-content: right;
    
}



.services{
    margin-top: 120px;
    display: flex;
    
}

.services h2{
    margin-top: 10px;
    color: #78b803;
    display: flex;
}


.services ul li{
    list-style-type: none;
    margin-top: 20px;
    font-family: "Raleway";
    font-weight: bold;
    color: whitesmoke;
}

.services hr{
    background: whitesmoke;
}

.downloads{
    margin-top: 120px;

}

.downloads h2{
    margin-top: 10px;
    color: #78b803;

}

.downloads hr{
    background-color: whitesmoke;
}

.downloads ul li{
    list-style-type: none;
    margin-top: 20px;
    font-family: "Raleway";
    font-weight: bold;
    color: whitesmoke;
}



.social{
    height: 85px;
    

}

.social a i{
    margin-left: 20px;
    margin-top: 30px;
    font-size: 26px;
    color: #78b803;
}











/*MOBILE VIEW*/

@media(max-width:400px){

    .seg1{
        height: 90px;
        width:100%;
        box-sizing: border-box;
        background-color: #0E6655;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        transition: all 0.6s ease;
        box-shadow: 0px 0px 4px grey;
    }

    .seg1 img{
        position: absolute;
        left: 20px;
        width: 50px;
        height: 50px;
        padding-top: 5px;
        margin-top: 20px;
        align-self: flex-start;
        background-color:transparent;
    }



    .seg1 ul{
        width: 100%;
        height: 300px;
        background-color: transparent;
        margin-top: 80px;
        display: block;
        
        
    }

    .seg ul a{
        text-decoration: none;

    }


    .seg1 ul a li{
        float:none;
        display: block;
        font-family: "Poppins";
        margin-top: 10px;
        margin-left: 0px;
        padding-left: 0px;
        list-style-type: none;
        color: #78b803;
        text-align: center;
        padding-right: 10px;
        padding-bottom: 20px;
        font-size: 30px;
        box-sizing: border-box;
        width: 100%;
        height: 45px;
        background-color:transparent;
        

    }
    
    .seg ul a li:focus{
        color: white;
        background-color: #0E6655;
        transition: all 0.5s ease;
        text-decoration: none;
    }


    #hamburger{
        right: 10px;
        display: block;
        font-size: 36px;
        margin-top: 25px;
        position: absolute;
        color: white;
    }

    .seg2{
        height: 180px;
        background-repeat: no-repeat;
    }

    .seg2 p{
        font-family: "Advent-Pro";
        font-size: 15px;
        font-weight: bold;
        display: inline-flex;
        padding: 0px;

    }

    .seg2_2{
        height: 800px;
        
    }

    .seg2_2 div{
        display: inline-flex;
    }

    .seg2_2 div a{
        display: none;
    }


    

    

    .seg3_board p{
        font-family: "Raleway";
        font-size: 20px;
        
        
       
        
    }


    #seg3_text{
        font-size: 20px;
    }
    

    


    .seg4 div{
        height: 35%;
        display: none;
        size: 50%;
        padding:0%;
        margin-left: 0px;
    }

    #seg4_text{
        font-size: 20px;
    }

    .seg4 section{
        display: none;
    }


    .seg5{
        height: 660px;
    }



    .social{
        display: inline-flex;
        padding: 0px;
        margin: 0px;
    }


    .services, .downloads{
        display: inline-flex;
        margin: 0px;
        padding: 0px;
        font-size: 10px;

    }

    









}


